<div class="page">

  <h2> Welcome to UCUtrade! </h2>
  <br>

  <div class="search">
    <h4> Search for items: </h4>
    <%= form_tag items_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Go", :name => nil %>
    <% end %>
  </div>

  <% if @items.empty? %>
    <br/>
    <p>Sorry, no results were found.</p>
  <% else %>
    <%= render @items %>
  <% end %>

</div>
