<% if item.available? %>
    <div class="col-xs-6 col-sm-4">
      <div class="item">
        <% if @user and @user == current_user %>
          <%= link_to "Edit item", edit_item_path(item.id), class: "btn btn-primary" %>
        <% end %>
        <%= link_to item.name, item, style: "font-weight:bold" %> <br>
        User ID: <%= item.user_id %> <br>
        Price: <%= item.price %> <br>
      </div>
    </div>
<% end %>
