// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page{
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin: 50px;
}

.search{
    margin-left: 33%;
}

.item {
   height: 300px;
   border-style: solid;
   border-color: #B5ACD9;
   margin: 25px;
   padding-top:10px;
   font-size: 75%;
   text-align: center;
}

.item > img {
  display: block;
  max-height: 180px;
  max-width: 180px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.edit_button {
  display:none;
  position: absolute;
  margin-top: 90%;
  margin-left: -35px;
}

.item:hover .edit_button {
  display:block;
}
